<!doctype html>
<html>
<head>
    <%- partial('_partial/head') %>
    <link rel="stylesheet" href="/css/archive.bundle.css">
    <script>
        window.onload = function (ev) {
            var wrapper = document.querySelector('.wrapper');
            wrapper.classList.add('wrapper--show');
        }
    </script>
</head>
<body>
    <%- partial('_partial/header') %>
    <div class="wrapper">
        <div class="container">
            <%
                site.posts.toArray().sort(function(a, b) {
                    return new Date(b.date).getTime() - new Date(a.date).getTime();
                });
                var postGroups = _.groupBy(site.posts.toArray(), function(post) {
                    return -post.date.format('YYYY');
                });
            %>
            <% _.forEach(postGroups, function(posts, year) { %>
                <h1 class="year-wrapper">
                    <span class="year"><%= -year %></span>
                </h1>
                <h2 class="amount">- <%= posts.length %> -</h2>
                <ul class="archive-posts">
                    <% _.forEach(posts, function(post) { %>
                        <li class="archive-post-wrapper">
                            <div class="post-date">
                                <%- post.date.format('ll') %>
                            </div>
                            <h2 class="post-title">
                                <a href="<%- url_for(post.path) %>"><%= post.title %></a>
                            </h2>
                        </li>
                    <% }) %>
                </ul>
            <% }) %>
        </div>

        <%- partial('_partial/footer') %>
    </div>
    <% if (theme.triangle_canvas) { %>
        <%- partial('_partial/triangle') %>
    <% } %>

    <script src="/js/archive.bundle.js"></script>
</body>
</html>