<!doctype html>
<html>
<head>
    <%- partial('_partial/head') %>
    <link rel="stylesheet" href="/css/index.bundle.css">
</head>
<body>
    <%- partial('_partial/header') %>
    <div class="wrapper">
        <div class="container">
            <div class="markdown-body">
                <%- page.content %>
            </div>
        </div>
        <%- partial('_partial/footer') %>
    </div>
    <% if (theme.triangle_canvas) { %>
        <%- partial('_partial/triangle') %>
    <% } %>

    <script src="/js/index.bundle.js"></script>
</body>
</html>