<!doctype html>
<html>
<head>
    <%- partial('_partial/head') %>
    <link rel="stylesheet" href="/css/post.bundle.css">
</head>
<body>
    <% if (theme.triangle_canvas) { %>
        <%- partial('_partial/triangle') %>
    <% } %>

    <%- partial('_partial/header') %>

    <div class="wrapper">
        <div class="container">
            <div class="post">
                <div class="title-wrapper">
                    <span class="title">
                        <%= page.title %>
                    </span>
                    <ul class="description">
                        <li>
                            <i class="fa fa-calendar"></i>
                            <%- page.date.format('ll') %>
                        </li>
                    </ul>
                </div>
                
                <div class="markdown-body">
                    <%- page.content %>
                </div>
            </div>

            <section class="comments">
                <%- partial('_partial/comments') %>
            </section>
        </div>
        <%- partial('_partial/footer') %>
    </div>
    
    <script src="/js/post.bundle.js"></script>
</body>
</html>