<!doctype html>
<html>
<head>
    <%- partial('_partial/head') %>
    <link rel="stylesheet" href="/css/post.bundle.css">
    <script>
        window.onload = function (ev) {
            var wrapper = document.querySelector('.wrapper');
            wrapper.classList.add('wrapper--show');
        }
    </script>
</head>
<body>
    <% if (theme.triangle_canvas) { %>
        <%- partial('_partial/triangle') %>
    <% } %>

    <%- partial('_partial/header') %>

    <div class="wrapper">
        <div class="container">
            <%- partial('_partial/post', {post: page}) %>
            <%- partial('_partial/prev-next') %>
            <section class="comments">
                <%- partial('_partial/comments') %>
            </section>
        </div>
        <%- partial('_partial/footer') %>
    </div>
    
    <script src="/js/post.bundle.js"></script>
</body>
</html>