<div class="first-screen" 
    >
    <div class="center">
        <h1 class="name"><%= theme.first_screen.name %></h1>
        <h2 class="description"><%= theme.first_screen.description %></h2>
        <div class="links">
            <% for (var key in theme.first_screen.links) { %>
                <% if (key.indexOf('mail') !== -1) { %>
                    <a href="mailto:<%= theme.first_screen.links[key] %>">
                        <%= key %>
                    </a>
                <% } else { %>
                    <a href="<%= theme.first_screen.links[key] %>" target="_blank">
                        <%= key %>
                    </a>
                <% } %>
            <% } %>
        </div>
    </div>

    <div class="wave wave1"></div>
    <div class="wave wave2"></div>
    <div class="wave wave3"></div>
</div>
<div class="holder"></div>

