<header class="header-wrapper 
    <%- is_home() && page.current === 1 
        ? 'header-wrapper--first-screen' : '' %>
    <%- is_home() && page.current === 1 && !theme.first_screen.img && !theme.first_screen.gradient ? 
        'header-wrapper--grid' : '' %>">

    <div class="header">
        <div class="left">
            <div class="menu-bar">
                <div class="menu-bar__middle"></div>
            </div>
            <a href="/" class="logo">
                <!--<img src="<%= theme.header.logo %>" alt="logo">-->
                Codpoe
            </a>
            <!--
            <ul class="links">
                <% for (var key in theme.header.links) { %>
                    <li>
                        <% if (key.indexOf('mail') !== -1) { %>
                            <a href="mailto:<%= theme.header.links[key] %>" title="<%= key %>">
                                <i class="fa fa-envelope"></i>
                            </a>
                        <% } else { %>
                            <a href="<%= theme.header.links[key] %>" target="_blank" title="<%= key %>">
                                <i class="fa fa-<%= key %>"></i>
                            </a>
                        <% } %>
                    </li>
                <% } %>
            </ul>
            -->

        </div>
        <ul class="right">
            <% for (var i in theme.header.menu) { %>
            <%
                var isActive;
                switch (theme.header.menu[i]) {
                    case '/':
                        isActive = is_home();
                        break;
                    case '/categories':
                        isActive = is_category();
                        break;
                    case '/archives':
                        isActive = is_archive();
                        break;
                    default:
                        isActive = theme.header.menu[i] + '/index.html' === '/' + path;
                        break;
                }
            %>
                <li>
                    <% if (i.indexOf('category') === -1) { %>
                        <a
                            href="<%- theme.header.menu[i] %>" 
                            class="normal-menu <%- isActive ? 'menu--active' : '' %>"
                            target="<%- i.indexOf('resume') === -1 ? '_self' : '_blank' %>">
                            <%= __(i) %>
                        </a>
                    <% } else { %>
                        <span class="category">
                            <%= __(i) %> <i class="fa fa-angle-down"></i>
                            <%- list_categories({class: 'category'}) %>
                        </span>
                    <% } %>
                </li>
            <% } %>
        </ul>
        <!--
        <i class="fa fa-bars menu-bar"></i>
        -->
    </div>

    <div class="drawer">
        <div
            class="drawer__header"
            style="background-image: <%- theme.drawer.img ? 
                'url(' + theme.drawer.img + ')' :
                 theme.drawer.gradient ? 
                 'linear-gradient(to bottom,' + theme.drawer.gradient.top + ',' + theme.drawer.gradient.bottom + ')' :
                 'linear-gradient(to bottom, #3a6186, #89253e)' %>">
            
            <img src="<%= theme.header.logo %>" alt="logo" class="logo">

        </div>
        <ul class="drawer__menu-list">
        <% for (var i in theme.header.menu) { %>
        <%
            var isDrawerActive;
            switch (theme.header.menu[i]) {
                case '/':
                    isDrawerActive = is_home();
                    break;
                case '/categories':
                    isDrawerActive = is_category();
                    break;
                case '/archives':
                    isDrawerActive = is_archive();
                    break;
                default:
                    isDrawerActive = theme.header.menu[i] + '/index.html' === '/' + path;
                    break;
            }
        %>
            <% if (i.indexOf('category') === -1) { %>
                <li>
                    <a 
                        href="<%- theme.header.menu[i] %>" 
                        class="drawer__menu <%- isDrawerActive ? 'drawer__menu--active' : '' %>"
                        target="<%- i.indexOf('resume') === -1 ? '_self' : '_blank' %>">
                        <%= __(i) %>
                    </a>
                </li>
            <% } %>
        <% } %>
        </ul>
        <div class="drawer__footer">
            <ul class="links">
                <% for (var key in theme.header.links) { %>
                    <li>
                        <% if (key.indexOf('mail') !== -1) { %>
                            <a href="mailto:<%= theme.header.links[key] %>" title="<%= key %>">
                                <i class="fa fa-envelope"></i>
                            </a>
                        <% } else { %>
                            <a href="<%= theme.header.links[key] %>" target="_blank" title="<%= key %>">
                                <i class="fa fa-<%= key %>"></i>
                            </a>
                        <% } %>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>

    <div class="window-mask"></div>
</header>

