<div>
    <div class="header-info">
        <h2 class="header__desc">
            <%= theme.description %>
        </h2>
        <ul class="header__links">
        <% for (var key in theme.header.links) { %>
            <a 
                href="<%- key.indexOf('mail') !== -1 ? 'mailto:' : '' %><%- theme.header.links[key].url %>" 
                class="header__link">

                <i class="fa fa-<%= key %>"></i>
                <div class="header__link-extend">
                    <img src="<%- theme.header.links[key].img %>" alt="<%= theme.header.links[key].name %>">
                </div>
            </a>
        <% } %>
        </ul>
        <!--<img src="<%= theme.logo %>" alt="logo">-->
    </div>
</div>

