<div class="post">
    <header class="title-wrapper">
        <% if (is_home()) { %>
            <h1>
                <a class="title" href="<%- url_for(post.path) %>">
                    <%= post.title %>
                </a>
            </h1>
        <% } else { %>
            <h1>
                <span class="title">
                    <%= post.title %>
                </span>
            </h1>
        <% } %>
        <% if (is_post()) { %>
        <ul class="description">
            <li>
                <%- post.date.format('ll') %>
            </li>
            <% if (post.path.indexOf('about') === -1) { %>
            <li>
            <% post.categories.forEach(function(category, index) { %>
                <a href="<%- url_for(config.category_dir + '/' + category.name) %>">
                    <% if (index < post.categories.length - 1) { %>
                        <%= category.name + ' · ' %>
                    <% } else { %>
                        <%= category.name %>
                    <% } %>
                </a>
            <% }) %>
            </li>
            <% } %>
        </ul>
        <% } %>
    </header>
    
    <section class="markdown-body">
        <% if (post.excerpt && is_home()) { %>
            <%- post.excerpt %>
        <% } else { %>
            <%- post.content %>
        <% } %>
    </section>
    
    <% if (is_home()) { %>
    <footer class="footer-wrapper">
        <ul class="description">
            <li>
                <%- post.date.format('ll') %>
            </li>
            <% if (post.path.indexOf('about') === -1) { %>
            <li>
            <% post.categories.forEach(function(category, index) { %>
                <a href="<%- url_for(config.category_dir + '/' + category.name) %>">
                    <% if (index < post.categories.length - 1) { %>
                        <%= category.name + ' · ' %>
                    <% } else { %>
                        <%= category.name %>
                    <% } %>
                </a>
            <% }) %>
            </li>
            <% } %>
        </ul>
        <hr>
        <a href="<%- url_for(post.path) %>">
            <button class="more-btn">
                <span><%= __('more') %> <i class="fa fa-angle-right"></i></span>
            </button>
        </a>
    </footer>
    <% } %>
</div>