<div class="prev-next-wrapper">
    <% if (is_home()) { %>
        <a class="prev" href="<%- page.prev_link ? url_for(page.prev_link) : '/' %>">
            <span>
                <i class="fa fa-angle-left"></i>
                <%= __('prev') %>
            </span>
            <div class="prev-border"></div>
        </a>
        <a class="next" href="<%- page.next_link ? url_for(page.next_link) : '' %>">
            <span>
                <%= __('next') %>
                <i class="fa fa-angle-right"></i>
            </span>
            <div class="next-border"></div>
        </a>
    <% } else { %>
        <a class="prev" href="<%- page.prev ? url_for(page.prev.path) : '' %>">
            <i class="fa fa-angle-left"></i>
            <%= __('newer') %>
        </a>
        <span class="prev-next-title"></span>
        <a class="next" href="<%- page.next ? url_for(page.next.path) : '' %>">
            <%= __('older') %>
            <i class="fa fa-angle-right"></i>
        </a>
    <% } %>
</div>

<script>
    var prev = document.querySelector('.prev');
    var next = document.querySelector('.next');
    var title = document.querySelector('.prev-next-title');

    if (title) {
        prev.addEventListener('mouseover', function(ev) {
            title.innerHTML = '<%= page.prev ? page.prev.title : '' %>';
            title.classList.add('prev-next-title--slide-right');
        });
        prev.addEventListener('mouseout', function(ev) {
            title.innerHTML = '';
            title.classList.remove('prev-next-title--slide-right');
        });

        next.addEventListener('mouseover', function(ev) {
            title.innerHTML = '<%= page.next ? page.next.title : '' %>';
            title.classList.add('prev-next-title--slide-left');
        });
        next.addEventListener('mouseout', function(ev) {
            title.innerHTML = '';
            title.classList.remove('prev-next-title--slide-left');
        });
    }
</script>

